.effect {

  &:not(:root) {
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
    margin: 16px;
  }

  &#{&}_wrap {
    display: flex;
    flex-wrap: wrap;
  }

  & &__list {
    margin: 8px;
    cursor: pointer;
  }

  & &__img {
    border: 1px solid rgba(black,.07);
    width: 70px;
    border-radius: 50%;
  }
}
